* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  background-color: bisque;
}
h1 {
  font-weight: bold;
  font-size: 40px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  margin-right: 8px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-button {
  padding: 6px 12px;
  font-size: 16px;
  border: 1px solid #007bff;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
.search-container {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.suggestions-list {
  position: absolute;
  top: calc(19.1% + 5px);
  left: 47%;
  transform: translateX(-50%);
  z-index: 10;
  width: 230px;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.suggestions-list li {
  background-color: white;
  padding: 8px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #eee;
}